4.Aplicación/03.Web/WB_CustAcco.Web_Common/Connected Services/GeneralAppService/GeneralAppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.ModuloGeneral" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.ModuloGeneral" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50307/GeneralAppService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.Global" />
  <xs:complexType name="ProveedorDao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.Global" base="q1:BaseDao">
        <xs:sequence>
          <xs:element minOccurs="0" name="AliasProveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoProveedor" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="DescripcionEstadoProveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoProveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombreProveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelefonoProveedor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProveedorDao" nillable="true" type="tns:ProveedorDao" />
</xs:schema>