4.Aplicación/03.Web/WB_CustAcco.Web_Common/Connected Services/GeneralAppService/GeneralAppService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.Global" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.Global" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCompania" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CodigoSesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActivo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaAnulo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IPActivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAnulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indicador" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultadoEjecucion" nillable="true" type="tns:ResultadoEjecucion" />
      <xs:element minOccurs="0" name="SesionActivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SesionAnulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SesionIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SesionModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioActivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAnulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDao" nillable="true" type="tns:BaseDao" />
  <xs:complexType name="ResultadoEjecucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeErrorTecnico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeErrorUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoEjecucion" nillable="true" type="tns:ResultadoEjecucion" />
</xs:schema>