4.Aplicación/03.Web/WB_CustAcco.Web_Common/Connected Services/GeneralAppService/GeneralAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeneralAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50307/GeneralAppService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50307/GeneralAppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50307/GeneralAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.ModuloGeneral" />
      <xsd:import schemaLocation="http://localhost:50307/GeneralAppService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WsDatCustAcco_Dao.Global" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneralAppService_IngresarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProveedor" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_IngresarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_EditarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarProveedor" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_EditarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_EliminarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProveedor" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_EliminarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_ActivarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarProveedor" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_ActivarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_ObtenerProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProveedor" />
  </wsdl:message>
  <wsdl:message name="IGeneralAppService_ObtenerProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProveedorResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneralAppService">
    <wsdl:operation name="IngresarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralAppService/IngresarProveedor" message="tns:IGeneralAppService_IngresarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralAppService/IngresarProveedorResponse" message="tns:IGeneralAppService_IngresarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralAppService/EditarProveedor" message="tns:IGeneralAppService_EditarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralAppService/EditarProveedorResponse" message="tns:IGeneralAppService_EditarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralAppService/EliminarProveedor" message="tns:IGeneralAppService_EliminarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralAppService/EliminarProveedorResponse" message="tns:IGeneralAppService_EliminarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralAppService/ActivarProveedor" message="tns:IGeneralAppService_ActivarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralAppService/ActivarProveedorResponse" message="tns:IGeneralAppService_ActivarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralAppService/ObtenerProveedor" message="tns:IGeneralAppService_ObtenerProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralAppService/ObtenerProveedorResponse" message="tns:IGeneralAppService_ObtenerProveedor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneralAppService" type="tns:IGeneralAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IngresarProveedor">
      <soap:operation soapAction="http://tempuri.org/IGeneralAppService/IngresarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarProveedor">
      <soap:operation soapAction="http://tempuri.org/IGeneralAppService/EditarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedor">
      <soap:operation soapAction="http://tempuri.org/IGeneralAppService/EliminarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarProveedor">
      <soap:operation soapAction="http://tempuri.org/IGeneralAppService/ActivarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedor">
      <soap:operation soapAction="http://tempuri.org/IGeneralAppService/ObtenerProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralAppService">
    <wsdl:port name="BasicHttpBinding_IGeneralAppService" binding="tns:BasicHttpBinding_IGeneralAppService">
      <soap:address location="http://localhost:50307/GeneralAppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>